@font-face {
    font-family: 'ChenYuluoyan';
    src: url('../../assets/fonts/ChenYuluoyan-Thin-Monospaced.ttf') format("truetype");
}

$color1: #DF285780;
$color2: #126bae80;
$fadeTime:1s;
$animationDelayTime:2.5s;

.homeWrapper {
    font-family: ChenYuluoyan !important;
    height: 100vh;

    .mainWrapper {
        height: 100vh;
        display: flex;
        overflow: hidden;
        bottom: 0;

        .leftWrapper,
        .rightWrapper {
            display: flex;
            flex: 1;
            height: 0;
            width: 0;
            // opacity: 1;
            cursor: pointer;
            position: relative;
            will-change: transform, opacity;
            transition: all 1s ease;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }


        .leftWrapper {
            left: 0;
            border-top: 100vh solid $color1;
            border-right: 12vw solid transparent;

        }

        .rightWrapper {
            right: 0;
            border-bottom: 100vh solid $color2;
            border-left: 12vw solid transparent;
        }

        span {
            position: absolute;
            font-size: 80px;
            color: white;
        }

        .leftFont {
            position: absolute;
            top: -50vh;
            right: 25vh;
            transition: all 0.5s ease;
        }

        .rightFont {
            position: absolute;
            top: 50vh;
            transition: all 0.5s ease;
        }


        .leftWrapper:not(.expanded):hover,
        .rightWrapper:not(.expanded):hover {
            flex: 5;
        }

        &:hover>.leftWrapper:not(.expanded, :hover),
        &:hover>.rightWrapper:not(.expanded, :hover) {
            opacity: .5;
        }


        .fadeInLTR {
            transform: translate3d(-100%, 0, 0);

            -webkit-animation: animate_fadeInLTR $fadeTime;
            /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: animate_fadeInLTR $fadeTime;
            /* Firefox < 16 */
            -ms-animation: animate_fadeInLTR $fadeTime;
            /* Internet Explorer */
            -o-animation: animate_fadeInLTR $fadeTime;
            /* Opera < 12.1 */
            animation: animate_fadeInLTR $fadeTime;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

            -webkit-animation-delay: $animationDelayTime;
            animation-delay: $animationDelayTime;
        }

        .fadeInRTL {
            transform: translate3d(100%, 0, 0);

            -webkit-animation: animate_fadeInRTL $fadeTime;
            /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: animate_fadeInRTL $fadeTime;
            /* Firefox < 16 */
            -ms-animation: animate_fadeInRTL $fadeTime;
            /* Internet Explorer */
            -o-animation: animate_fadeInRTL $fadeTime;
            /* Opera < 12.1 */
            animation: animate_fadeInRTL $fadeTime;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

            -webkit-animation-delay: $animationDelayTime;
            animation-delay: $animationDelayTime;

        }

    }

    .loader {
        position: absolute;
        // background: black;
        color: white;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        z-index: 2;
        top: 0;
        font-size: 48px;
        background-color: hsla(0, 0%, 100%, 1);
        background-image:
            radial-gradient(at 75% 74%, hsla(344, 74%, 51%, 0.5019607843137255) 0px, transparent 50%),
            radial-gradient(at 24% 28%, hsla(205, 81%, 37%, 0.5019607843137255) 0px, transparent 50%);
    }


    .left-layer,
    .left-layer-1,
    .left-layer-2,
    .left-layer-3 {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100vh;
        top: auto;
        left: -100%;
        bottom: auto;
        right: auto;
        background: #884a70;
        transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
        z-index: 200;

        &.active {
            left: 100%;

            .left-layer-1 {
                left: 100%;
                background: #dc8cec;
                transition-delay: 0.4s;
            }

            .left-layer-2 {
                left: 100%;
                background: #c79ecf;
                transition-delay: 0.3s;
            }

            .left-layer-3 {
                left: 100%;
                background: #fe9191;
                transition-delay: 0.2s;
            }
        }
    }



    .right-layer,
    .right-layer-1,
    .right-layer-2,
    .right-layer-3 {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100vh;
        top: auto;
        left: 100%;
        bottom: auto;
        right: auto;
        background: #4e4a88;
        transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
        z-index: 200;

        &.active {
            left: -100%;

            .right-layer-1 {
                left: -100%;
                background: #928cec;
                transition-delay: 0.4s;
            }

            .right-layer-2 {
                left: -100%;
                background: #9ea9cf;
                transition-delay: 0.3s;
            }

            .right-layer-3 {
                left: -100%;
                background: #9193fe;
                transition-delay: 0.2s;
            }
        }
    }


}

//#region [animate_fadeInLTR]

@keyframes animate_fadeInLTR {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Firefox < 16 */
@-moz-keyframes animate_fadeInLTR {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes animate_fadeInLTR {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Internet Explorer */
@-ms-keyframes animate_fadeInLTR {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

// #endregion

// #region [animate_fadeInRTL]
@keyframes animate_fadeInRTL {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Firefox < 16 */
@-moz-keyframes animate_fadeInRTL {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes animate_fadeInRTL {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Internet Explorer */
@-ms-keyframes animate_fadeInRTL {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

// #endregion