.homeWrapper {
    $color1: #DF285780;
    $color2: #126bae80;
    $fadeTime: 1s;
    $animationDelayTime: 2.5s;
    font-family: ChenYuluoyan !important;
    height: 100vh;

    .mainWrapper {
        height: 100vh;
        display: flex;
        overflow: hidden;
        bottom: 0;

        .leftWrapper,
        .rightWrapper {
            display: flex;
            flex: 1;
            height: 0;
            width: 0;
            // opacity: 1;
            cursor: pointer;
            position: relative;
            will-change: transform, opacity;
            transition: all 1s ease;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }


        .leftWrapper {
            left: 0;
            border-top: 100vh solid $color1;
            border-right: 12vw solid transparent;

        }

        .rightWrapper {
            right: 0;
            border-bottom: 100vh solid $color2;
            border-left: 12vw solid transparent;
        }

        span {
            position: absolute;
            font-size: 80px;
            color: white;
        }

        .leftFont {
            position: absolute;
            top: -50vh;
            right: 25vh;
            transition: all 0.5s ease;
        }

        .rightFont {
            position: absolute;
            top: 50vh;
            transition: all 0.5s ease;
        }


        .leftWrapper:hover,
        .rightWrapper:hover {
            flex: 5;
        }

        &:hover>.leftWrapper:not(:hover),
        &:hover>.rightWrapper:not(:hover) {
            opacity: .5;
        }


        .fadeInLTR {
            transform: translate3d(-100%, 0, 0);

            -webkit-animation: animate_fadeInLTR $fadeTime;
            /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: animate_fadeInLTR $fadeTime;
            /* Firefox < 16 */
            -ms-animation: animate_fadeInLTR $fadeTime;
            /* Internet Explorer */
            -o-animation: animate_fadeInLTR $fadeTime;
            /* Opera < 12.1 */
            animation: animate_fadeInLTR $fadeTime;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

            -webkit-animation-delay: $animationDelayTime;
            animation-delay: $animationDelayTime;
        }

        .fadeInRTL {
            transform: translate3d(100%, 0, 0);

            -webkit-animation: animate_fadeInRTL $fadeTime;
            /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: animate_fadeInRTL $fadeTime;
            /* Firefox < 16 */
            -ms-animation: animate_fadeInRTL $fadeTime;
            /* Internet Explorer */
            -o-animation: animate_fadeInRTL $fadeTime;
            /* Opera < 12.1 */
            animation: animate_fadeInRTL $fadeTime;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

            -webkit-animation-delay: $animationDelayTime;
            animation-delay: $animationDelayTime;

        }

    }

}

//#region [animate_fadeInLTR]

@keyframes animate_fadeInLTR {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Firefox < 16 */
@-moz-keyframes animate_fadeInLTR {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes animate_fadeInLTR {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Internet Explorer */
@-ms-keyframes animate_fadeInLTR {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

// #endregion

// #region [animate_fadeInRTL]
@keyframes animate_fadeInRTL {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Firefox < 16 */
@-moz-keyframes animate_fadeInRTL {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes animate_fadeInRTL {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Internet Explorer */
@-ms-keyframes animate_fadeInRTL {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

// #endregion