.footer {
    position: absolute;
    font-size: 28px;
    width: 220px;
    text-align: center;
    color: white;
    padding: 30px;
    align-self: end;
    width: 100vw;
    background-color: #95a3ac;
}